//colors
$clBgWhite: #ffffff;
$clBgGrey: #f8f8f8;
$clBtnCircle: #ff3e79;
$clLine: #eaeaea;
$clContBord: #d9fff5;
$clTextLine: #41f6d7;
$clSwiperPagBull: #dddddd;
$clSwiperPagBull-act: #b5b6bc;
$clScrollHover: #b8ffec;

//Text
$textMain: #1b1c21;
$textGrey: #7e7e82;
